<!DOCTYPE html>
<HTML>
    <head>
        <meta charset="utf-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Study</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>    
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html">Bootstrap Study</a>              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Components
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="./components/Accodian.html">Accodian</a></li>
                          <li><a class="dropdown-item" href="./components/Alerts.html">Alters</a></li>
                          <li><a class="dropdown-item" href="./components/Badge.html">Badge</a></li>
                          <li><a class="dropdown-item" href="./components/Breadcrumb.html">Breadcrumb</a></li>
                          <li><a class="dropdown-item" href="./components/Button.html">Button</a></li>
                          <li><a class="dropdown-item" href="./components/Button group.html">Button group</a></li>
                          <li><a class="dropdown-item" href="./components/Cards.html">Cards</a></li>
                          <li><a class="dropdown-item" href="./components/Carousel.html">Carousel</a></li>
                          <li><a class="dropdown-item" href="./components/Close button.html">Close button</a></li>
                          <li><a class="dropdown-item" href="./components/Collapse.html">Collapse</a></li>
                          <li><a class="dropdown-item" href="./components/Dropdowns.html">Dropdowns</a></li>
                          <li><a class="dropdown-item" href="./components/List group.html">List group</a></li>
                          <li><a class="dropdown-item" href="./components/Modal.html">Modal</a></li>
                          <li><a class="dropdown-item" href="./components/Nvar.html">Nvar</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Utilities
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="./components/Accodian.html">Accodian</a></li>
                          <li><a class="dropdown-item" href="./components/Alerts.html">Alters</a></li>
                          <li><a class="dropdown-item" href="./components/Badge.html">Badge</a></li>
                          <li><a class="dropdown-item" href="./components/Breadcrumb.html">Breadcrumb</a></li>
                          <li><a class="dropdown-item" href="./components/Button.html">Button</a></li>
                          <li><a class="dropdown-item" href="./components/Button group.html">Button group</a></li>
                          <li><a class="dropdown-item" href="./components/Cards.html">Cards</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
              </div>                                
            </div>
        </nav>          
        <div class="container text-center">
            <div class="row">
              <div class="col" style="margin-top: 10px;">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://newsimg.hankookilbo.com/cms/articlerelease/2015/11/09/201511091074568726_1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://thumb.mt.co.kr/06/2022/04/2022041011080057714_1.jpg/dims/optimize/" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Yamamoto_Yoshinobu_Orix_Buffaloes_20220514.jpg/1500px-Yamamoto_Yoshinobu_Orix_Buffaloes_20220514.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col" style="margin-top: 10px;">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://yt3.googleusercontent.com/ytc/AL5GRJVUNqkWAcdA-fBDxfHQJCEOvu8OxMqZkDnakNLwbw=s900-c-k-c0x00ffffff-no-rj" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.sk.co.kr/lib/images/common/sk_facebook.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="http://www.lg.co.kr/images/common/default_og_image_new.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
             <div class="col" style="margin-top: 50px;">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://i0.wp.com/thetravelinfo.co.kr/wp-content/uploads/2022/07/%EB%82%A8%EC%82%B0%EC%84%9C%EC%9A%B8%ED%83%80%EC%9B%8C%EC%95%BC%EA%B2%BD2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>서울 남산타워</h5>
                          <p>이곳은 서울에 위치한 남산타워 입니다.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.royalpalace.go.kr/content/images/data/data_03_01_02.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>경복궁</h5>
                          <p>이곳은 서울에 역사가 숨쉬는 경복궁 입니다.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="https://cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/6NFJ6SURNVFP7CRL2CHQT7HOFM.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>63 빌딩</h5>
                          <p>여기는 서울이 한눈에 보이는 63빌딩 입니다.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
             <div class="col"style="margin-top: 10px;">
              <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://a.cdn-hotels.com/gdcs/production169/d1465/0153cc66-648b-4d82-b944-a3b5eaec1b94.jpg?impolicy=fcrop&w=1600&h=1066&q=medium" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://a.cdn-hotels.com/gdcs/production105/d1697/a1d94ae0-3f72-4e2b-96ee-e3bf44fafc76.jpg?impolicy=fcrop&w=1600&h=1066&q=medium" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://a.cdn-hotels.com/gdcs/production195/d1034/d7cfa18f-3421-42c3-b627-2415ade10a0a.jpg?impolicy=fcrop&w=1600&h=1066&q=medium" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div> 
            </div>
            <div class="col"style="margin-top: 10px;">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/2AuX/image/zIxmfS_Y7bkrG93-5gMB67I0q70.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://t1.daumcdn.net/cfile/tistory/99F3AF475BED7EA428" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://youimg1.tripcdn.com/target/0101r120008jsf1q0D952_D_560_420.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col"style="margin-top: 10px;">
              <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/3B28/production/_126744151_gettyimages-452445119.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9blTguIGYhwHo9W420-nhsoSHjhB-WjmdeA&usqp=CAU" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.busan.com/nas/wcms/wcms_data/photos/2021/07/23/2021072309274458363_l.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col"style="margin-top: 10px;">
              <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://d20aeo683mqd6t.cloudfront.net/images/imgs/000/071/798/original/ramen-p57269189.jpg?1636352703&d=750x750" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>라멘</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://d20aeo683mqd6t.cloudfront.net/images/imgs/000/071/800/original/tonkatsu-s664729390.jpg?1636352744&d=750x750" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>돈가스</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://d20aeo683mqd6t.cloudfront.net/images/imgs/000/071/803/original/yakitori-s579182608.jpg?1636352878&d=750x750" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>야키토리</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      </body>
</HTML>